<div class="calculator">
  <div class="display">{{buffering}}</div>
  <div class="calculator-buttons">
    <button (click)="resetar()">CE</button>
    <button (click)="limpar()">C</button>
    <button (click)="apagar()"><<</button>
    <button (click)="dividir()">/</button>
    <button (click)="pressionar('7')">7</button>
    <button (click)="pressionar('8')">8</button>
    <button (click)="pressionar('9')">9</button>
    <button (click)="multiplicar()">*</button>
    <button (click)="pressionar('4')">4</button>
    <button (click)="pressionar('5')">5</button>
    <button (click)="pressionar('6')">6</button>
    <button (click)="subtrair()">-</button>
    <button (click)="pressionar('1')">1</button>
    <button (click)="pressionar('2')">2</button>
    <button (click)="pressionar('3')">3</button>
    <button (click)="somar()">+</button>
    <button (click)="negativar()">±</button>
    <button (click)="pressionar('0')">0</button>
    <button (click)="pressionar('.')">.</button>
    <button (click)="calcular()">=</button>
  </div>
</div>
<script> src="calculadora.js"</script>

